img {
    height: 10em;
    width: 10em;
}

body {
    background-color: #d9eeec;
}

.jumbotron {
    background-color: #3c70a4;
    border-radius: 2px;
}

h2.nav {
    text-shadow: 1px 1px 5px #da9833;
    color: white;
}

.circle {
    background-color: #c6cbef;
}

#card {
    background-color: #d5a6bd;
}

.img:hover {
    background-color: #c6a6c8
}

#wins,
#losses {
    background-color: #a4c2f4
}