img {
    height: 10em;
    width: 10em;
}

body {
    background-color: #494ca2;
}

.jumbotron {
    background-color: #8186d5;
}

.circle {
   
    background-color: #c6cbef;
}

#card {
    background-color: #c6cbef;
}