img {
    height: 10em;
    width: 10em;
}

body {
    background-color: #494ca2;
}

.jumbotron {
    background-color: #b4a7d6;
}

.circle {
   
    background-color: #c6cbef;
}

#card {
    background-color: #d5a6bd;
}

.img:hover {
    background-color: #c6a6c8
}